.submit-form-body {
  background-color: rgba(249, 246, 242, 0.56);
}

.submission-heading {
  color: rgb(196, 123, 6);
  padding-top: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  animation-duration: 1.75s;
  animation-name: slidein;
}

form {
  color: rgb(196, 123, 6);
  padding: 2rem;
  border: 1px solid rgb(196, 123, 6);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  row-gap: 1rem;
  margin-bottom: 3rem;
}

.members-heading {
  text-decoration: underline;
}

.group-id-label {
  margin-right: 15px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  float: left;
  gap: 0.5rem;
}

.title-ass-label {
  margin-right: 5px;
}

input[type="text"] {
  border: 1px solid rgb(196, 123, 6);
  border-radius: 2px;
  height: 30px;
}

input[type="file"] {
  margin-top: 1rem;
}

.submit-btn {
  background-color: rgb(196, 123, 6);
  padding: 0.8rem 2rem;
  border-radius: 4px;
  border: none;
  color: #fff;
  margin-top: 2rem;
  font-size: 1.2rem;
  transition: 1000ms ease-in-out;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid rgb(196, 123, 6);
  color: rgb(196, 123, 6);
  font-size: 1.5rem;
}

.members-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.student-name {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

input[placeholder="Name:"],
input[placeholder="ID :"] {
  padding: 0.5rem;
}
